@import "style.less";

.display-wrapper {
    .flexCol;
    .flexCenterCenter;
    .alignToWidthCenter;
    background-color: @navbarColor;
    min-height: @eventMinWidth;

    .no-event-wrapper, .no-guest-wrapper{
        .flexCol;
        .flexCenterCenter;
    }
}

.display-wrapper::selection {
    background-color: @navbarColor;
}

// DISPLAY IF EVENT EXISTS 
.display-event-wrapper {
    .flexCol;
    .flexStartStart;
    min-height: @eventsMinHeight;
    margin: 0 auto @bigGap;
    width: min-content;

    @media (max-width: 768px) {
        .flexStartCenter;
    }
}

.display-row-wrapper {
    .flexRow;
}

.event-card {
    min-width: @eventMinWidth;
    margin-top: @bigGap;
    cursor: @mousePointer;
    padding: @gap @gap @bigGap @bigGap+1;

    & + & {
        margin-left: 2 * @bigGap;
    }

    @media (max-width: 768px) {
        margin-left: 0;        
    }

    @media (max-width: 500px) {
        min-width: @eventMinWidth - 100;        
    }
}

.edit-buttons-card-inside {
    .flexRow;
    .flexCenterEnd;

    button {
        height: @btnMinHeight;
        width: 3 * @btnMinHeight;
        font-size: 0.6rem;
        line-height: 0;
        border-radius: 7px;
        padding: 0 @gap;

        @media (max-width: 500px) {
            width: 3 * @btnMinHeight - 10;       
        }
    }

    button + button {
        margin-left: @smallGap;
    }
}
