@import "style.less";

.display-wrapper {
    .flexCol;
    .flexCenterCenter;
    .alignToWidthCenter;
    background-color: @navbarColor;
    min-height: @eventMinWidth;

    .no-event-wrapper{
        .flexCol;
        .flexCenterCenter;
    }
}

.display-wrapper::selection {
    background-color: @navbarColor;
}

// DISPLAY IF EVENT EXISTS 
.display-event-wrapper {
    .flexRow;
    .flexStartStart;
    .flexWrap;
    min-height: @eventsMinHeight;
    margin-bottom: @bigGap;
}

.event-card {
    min-width: @eventMinWidth;
    margin: @bigGap 0 0 @bigGap+@bigGap;
    cursor: @mousePointer;
    padding: @gap @gap @bigGap @bigGap+1;
}

.edit-buttons-card-inside {
    .flexRow;
    .flexCenterEnd;

    button {
        height: @btnMinHeight;
        width: 3 * @btnMinHeight;
        font-size: 0.6rem;
        line-height: 0;
        border-radius: 7px;
        padding: 0 @gap;
    }

    button + button {
        margin-left: @smallGap;
    }
}