@import 'style.less';

.guestlist-table{
    .flexRow;
    .flexStartCenter;
    min-height: @eventsMinHeight;
}

.uk-table {
    box-shadow: @boxShadow;
}

.uk-text-truncate {
    .centerText;
}

.guestlist-table{
    tr{
        cursor: @mousePointer;
    }

    th:nth-child(n+3) {
        .centerText;
    }

    td:nth-child(n+3) {
        .centerText;
    }
}

.table + .table {
    margin-left: 6rem;
}

.table-buttons {
    .flexRow;

    @media (max-width: 768px) {
        .flexCol;   
        
        button {
            height: @btnMinHeight;
            line-height: @btnMinHeight;
        }
    }
}