@import "style.less";

/* ----------------------- Navbar ---------------------------------*/
.uk-navbar-container {
    .addFlexBoxRow;
    padding: 0 @bigGap;
    box-shadow: @boxShadow;

    a:hover {
        cursor: @mousePointer;
    }
}

.uk-navbar-dropwdown {
    width: 130px;
    padding: @paddingAroundBox;
}

footer {
    position: absolute;
    width: @fullWidth;
    bottom: 0;
}