@import "style.less";
@import "../../../node_modules/uikit/src/less/uikit.theme.less";


.creation-newEvent {
    width: 50%;
}

.uk-heading-line {
    overflow: visible;

    span {
        font-size: 1.8rem;
    }
}

.uk-heading-line>::after, .uk-heading-line>::before {
    width: 60%;
}

.eventParamsFormular button {
    margin-top: @gap;
}

.uk-fieldset {
    .addFlexBoxRow;
    flex-wrap: wrap;
    justify-content: start;

    & + & {
        margin-top: @gap;
    }

    h2 {
        width: @fullWidth;
    }
}

.creation-form-elements{
    .addFlexBoxColumn;
    margin-right: @gap + 1;
    margin-top: @smallGap;

    label{
        margin-right: @smallGap;
    }
}

.uk-fieldset > .creation-eventAttr{
    width: @fullWidth;
}

.uk-fieldset > .creation-eventAttr ~ .creation-eventAttr {
    width: auto;
}

.creation-seatingAttr{
    input:not([type='checkbox']){
        width: 50%;
        text-align: right;
    }
}

.creation-seatingAttr:last-of-type {
    flex-direction: row;
}

.creation-guestAttr + .creation-guestAttr {
    width: 100%;
}